html,
body,
canvas,
img {
  margin: 0;
  padding: 0;
}

canvas {
  background-color: #eceff1;
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.flower {
  display: none;
}
